

.background-image {
  /* background-image: url('background-image.jpg'); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.scrolling-name-container {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.scrolling-name {
  font-size: 80px; 
  font-weight: bold;
  color: rgb(103, 23, 23);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  white-space: nowrap;
  overflow: hidden;
  animation: scrollName 10s linear infinite;
}

@keyframes scrollName {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

